p{
    color: white;
}

h1{
    color: #e100ff;
}

h2{
    color: white;
}

.title1{
    font-style: italic;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

.quote p{
    text-align: center;
    color: #f79e05;
    font-size: 20px;
}
.button {
  background-color: #60f2f2; /* Green */
  border: none;
  color: black;
  font-weight: 200px;    
  padding: 20px;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 45%;
  cursor: pointer;
}
.button4{
    border-radius: 12px;
}

.download1{
    text-align: center;
    padding-top: 10%;
}

.inner_main_menu {margin: 0 auto; width: 1170px;}    
            .inner_main_menu ul{margin: 0; padding: 80px 0 0; list-style: none;text-align: right;}    
            .inner_main_menu ul li{float: none; display: inline-block;position: relative}    
            .inner_main_menu ul li:nth-child(1){float: left;}    
            .inner_main_menu ul li:nth-child(2){float: left;}    
            .inner_main_menu ul li:nth-child(3){float: left;}    
            .inner_main_menu ul li a{color: white; font-size: 20px; text-transform: uppercase;text-decoration: none; display: block;padding: 10px 20px;}    
            .inner_main_menu ul li a:hover{color: #6FDA44}  
            .inner_main_menu ul li ul{position: absolute; top: 40px; left: -9999999px; width: 200px;background: white; padding: 0;}  
            .inner_main_menu ul li:hover ul{left: 0px;}   
            .inner_main_menu ul li ul li{float: left;width: 100%;text-align: left;}  
            .inner_main_menu ul li ul li a{color: #fff;text-transform: capitalize; font-size: 15px;}  
            .inner_main_menu ul li ul li a:hover{background: #ddd; color: white;}  
            .inner_main_menu ul li ul li ul{top: 0; left: -999999px;}  
            .inner_main_menu ul li:hover ul li ul{top: 0; left: -999999px;}  
            .inner_main_menu ul li ul li:hover ul{top: 0; left: 200px;}  
            .inner_main_menu ul li:hover a{color: #6FDA44}  
            .inner_main_menu ul li:hover ul li a{color: #ffffff}  
            .inner_main_menu ul li ul li a:hover{color: white}  
            .inner_main_menu ul li ul li:hover a{background: #ddd; color: #262626;}  
            .inner_main_menu ul li ul li:hover ul li a{background: #262626; color: #fff;}  
            .inner_main_menu ul li ul li ul li a:hover{background: #ddd; color: #262626;}  
            #main_menu{width: 100%; position: relative;}
.logo_area{
    width: 100px; height: 100px; position: absolute; left: 50%; top: 0; margin-left: -150px; text-align: center;
}

            